/*style for header*/
.header {
	background-color: azure;
	color: red; 
	padding: 15px;
	text-align: center;
}
/*style for topnav*/
ul {
	list-style-type: none;
	background-color: gray;
	overflow: hidden;
	padding: 0;
}
li {
	float: left;
}
/*style for topnavlink*/
li a, .nav {
	color: white;
	text-align: center;
	display:inline-block;
	padding: 10px 50px;
	text-decoration:none;
}
li a:hover, .dropdown:hover .nav{
	background-color: black;
	text-decoration: underline;
}
/*style for content*/
.column {
	float: left;
	padding: 10px;
	text-align: center;
}
.column.both{
	width: 20%;
}
.column.middle {
	width: 60%;
}
/*clean float after the column*/
.row::after {
	content: "";
	display: table;
	clear: both;
}
/*responsive layout*/
@media screen and (max-width: 600px) {
	.column.both, .column.middle
	{width: 100%}
}
/*style for footer*/
.footer{
	background-color: black;
	color: white;
	padding: 15px;
	text-decoration: underline;
}
.footer.column{
	float: left;
	width: 33.33%;
}
/*style dropdown*/
li.dropdown{
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: azure;
	min-width: 200px;
	z-index: 1;
}
.dropdown-content a{
	color: blue;
	padding: 10px 10px;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	text-decoration: underline;
	background-color: aqua;
	color: black;
}
.dropdown:hover .dropdown-content {
	display: block;
}
